html {
  text-align: center;
}

header {
  margin: auto;
}

.explica {
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: cursive;
  font-size: 20px;
  color: green;
  animation: tourne 4s;
  list-style: none;

}

.player1 {
  border: 2px solid blue;
  width: 15rem;
  float: left;
}

.player2 {
  border: 2px solid blue;
  width: 15rem;
  float: right;
}

.button {

  height: 7rem;
  width: 6rem;
  background-color: rgba(58, 201, 82, 0.562);
  border-radius: 10px;

}

.scoreTempo {
  margin: auto;
  margin-bottom: 1rem;
  background-color: rgba(37, 187, 112, 0.616);
  border-radius: 5px;
  height: 4rem;
  width: 4rem;
}

.score {

  margin: auto;
  margin-bottom: 1rem;
  background-color: rgba(11, 223, 29, 0.726);
  height: 4rem;
  width: 4rem;
  border-radius: 10px;

}

.imgdado {
  height: 4rem;
  width: 4rem;

}

#pCur {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(67, 126, 8);

}

#pl {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-style: oblique;
  color: rgb(24, 99, 89);
}

@keyframes tourne {
  0% {
    transform: rotateX(1080deg);
  }
  100% {}
}